// @nebular theming framework
@import '@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '@nebular/theme/styles/themes';

$nb-themes: nb-register-theme((
  layout-padding: 0.75rem,
  layout-medium-padding: 0.75rem,
  layout-small-padding: 0.5rem,
  header-height: 4.5rem,

  color-primary-default: #007bff,
  color-primary-active: #0056b3,
  color-primary-hover: #3399ff,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 12rem,
  card-height-small: 20rem,
  card-height-medium: 26rem,
  card-height-large: 34rem,
  card-height-giant: 40rem,
  card-margin-bottom: 0.75rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: #f7f9fc,
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,

  gauge-bg: #c0c0c0,
  gauge-value-color: #007bff
), default, default);

$nb-themes: nb-register-theme((
  layout-padding: 0.75rem,
  layout-medium-padding: 0.75rem,
  layout-small-padding: 0.5rem,
  header-height: 4.5rem,

  color-primary-default: #007bff,
  color-primary-active: #0056b3,
  color-primary-hover: #3399ff,
  
  background-basic-color-1: #0d1117,
  background-basic-color-2: #161b22,
  background-basic-color-3: #21262d,
  
  card-background-color: #161b22,
  header-background-color: #0d1117,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 12rem,
  card-height-small: 20rem,
  card-height-medium: 26rem,
  card-height-large: 34rem,
  card-height-giant: 40rem,
  card-margin-bottom: 0.75rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: #161b22,
  slide-out-shadow-color: 2px 0 3px #000000,
  slide-out-shadow-color-rtl: -2px 0 3px #000000,
  gauge-bg: #304562,
  gauge-value-color: #007bff
), cosmic, cosmic);

$nb-themes: nb-register-theme((
  layout-padding: 0.75rem,
  layout-medium-padding: 0.75rem,
  layout-small-padding: 0.5rem,
  header-height: 4.5rem,

  color-primary-default: #007bff,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 12rem,
  card-height-small: 20rem,
  card-height-medium: 26rem,
  card-height-large: 34rem,
  card-height-giant: 40rem,
  card-margin-bottom: 0.75rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3
), corporate, corporate);

$nb-themes: nb-register-theme((
  layout-padding: 0.75rem,
  layout-medium-padding: 0.75rem,
  layout-small-padding: 0.5rem,
  header-height: 4.5rem,

  color-primary-default: #007bff,
  
  background-basic-color-1: #0d1117,
  background-basic-color-2: #161b22,
  background-basic-color-3: #21262d,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 12rem,
  card-height-small: 20rem,
  card-height-medium: 26rem,
  card-height-large: 34rem,
  card-height-giant: 40rem,
  card-margin-bottom: 0.75rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  gauge-bg: #304562,
  gauge-value-color: #007bff
), dark, dark);
